.primary-color{
    -fx-background-color: #17BE5F;
}

.secondary-color{
    -fx-background-color: #5D3C23;
}

.accent-color{
    -fx-background-color: #24BED7;
}

.background-color{
    -fx-background-color: #2C1908;
}

.text-color{
    -fx-text-fill: #FBEEE7;
    -fx-font-family: "Segoe UI";
}

.text-color-white{
    -fx-text-fill: #160A04;
    -fx-font: 20 "Segoe UI";
}

.text-color-accent{
    -fx-text-fill: #24BED7;
    -fx-font-weight: bold;
    -fx-font: 20 "Segoe UI";
}

.text-color-primary {
    -fx-text-fill: #17BE5F;
    -fx-font-weight: bold;
    -fx-font: 20 "Segoe UI";
}

.radius{
    -fx-background-radius: 6;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.input{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #898989
    -fx-
}
/*color para texto FBEEE7*/